/* === HEADER === */

/* Style the header with font and colors */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #132743;
    color: #ffffff;
}

/* Style the h1 with display, font size and color */
.header h1 {
    display: inline-flex;
    font-size: 48px;
    color: white;
}

/* Style the h1 with font, padding and margin*/
.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
}

/* Style the navigation links with no bullet points */
.header div ul {
    list-style-type: none;
}

/* Style the navigation links with colour and display */
.header div ul li {
    display: inline-block;
    margin-left: 25px;
    color: white;
}

/* Creates a higlight colour when there is a hover over the navigation links */
.header div ul li:hover {
  background: #0099cc;
  color: white;
}

.header div ul li:hover a {
  color: white;
}

/* Style the subtitle section with flex, color and position */
nav {
    display: flex;
    justify-content: flex-end;
    background-color: lightblue;
  }
  
  nav h2 {
    color: white;
    padding: 14px 20px;
    position: absolute;
  }
  
  nav img {
    object-fit: fill;
  }

/* === BODY === */

  /* Style the main container with flex and background color */
  .main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    background-color: #f8f8f8;
  }
  
  /* Style the "About me" section with flex, color and positions */
  .about-me {
    flex: 0 0 25%;
    padding: 20px;
    height: 350px;
    border-right: 5px solid #132743;
    text-align: right;
    color: black;
    margin-bottom: 50px;
    font-size: 150%;
  }

  .detail {
    flex: 0 0 75%;
    padding: 40px;
    height: 350px;
    text-align: left;
    color: black;
    font-size: 110%;
    line-height: 1.5;
  }

  /* Style the "Work" section with flex, color and positions */
  .work {
    flex: 0 0 25%;
    padding: 30px;
    height: 100px;
    text-align: right;
    color: black;
    font-size: 150%;
  }
  
  .work-detail {
    flex: 0 0 75%;
    background-color: #fff;
    padding-right: 50px;
    padding-left: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 70px;
    font-size: 120%;
    border-left: 5px solid #132743;
  }
  
  /* Style the 'main work' card larger than the other works with flex 100% */

  .card-main {
    border-style: solid;
    border-width: 4px;
    border-color: #0c6260;
    flex: 0 0 100%;
  }
  
  /* Style the 'main work' image */
  .card-main img {
    width: 90%;
    height: max-height;
    padding-left: 95px;
  }

/* Style the 'main work' card with color and display */

  .card-main div {
    display: inline-block;
    color: white;
    background-color: #0c6260;
    padding: 10px;
  }

  /* Creates a shadow when there is a hover over the 'main work' image card */
  .card-main:hover,
  .card-main:hover:hover .card-header {
    box-shadow: inset 0px 0px 8px rgb(102, 122, 236), 0 0 15px rgb(102, 144, 236);
  }


  /* Style the 'other work' cards smaller than the 'main work' card with flex 49% */
  .card {
    border-style: solid;
    border-width: 4px;
    border-color: #0c6260;
    flex: 0 0 49%;
    margin-top: 23px;
    
  }  
  
  /* Style the 'other work' card image */
  .card img {
    width: 100%;
    height: max-height;
  }

  /* Style the 'other work' cards with color and display */
  .card div {
    display: inline-block;
    color: white;
    background-color: #0c6260;
    padding: 10px;
  }

  /* Creates a shadow when there is a hover over the 'other works' image cards */
  .card:hover,
  .card:hover:hover .card-header {
    box-shadow: inset 0px 0px 8px rgb(102, 122, 236), 0 0 15px rgb(102, 144, 236);
  }

  /* Style the "Contact me" section with flex, color and positions */
  .contact-me {
    flex: 0 0 25%;
    padding: 30px;
    height: 100px;
    border-right: 5px solid #132743;
    font-size: 150%;
    text-align: right;
    color: black;
    margin-bottom: 50px;
  }

  .contact-card {
    flex: 0 0 75%;
    padding: 20px;
    height: 100px;
    text-align: center;
    color: black;
  }

  /* Style the contact details with no bullet points */
  .contact-card ul {
  list-style-type: none;
  }

  /* Style the contact details with colour and display */
  .contact-card ul li {
    display: inline-block;
    color: black;
    font-size: 150%;
    padding: 15px;
}


/* media query for mobile devices */
@media screen and (max-width: 480px) {
  main,
  nav {
    flex-direction: column;
  }
}
/* media query for tablets */
  @media screen and (max-width: 768px) {
    main,
    nav {
      flex-direction: column;
    }
  }

/* media query for larger screens */
@media screen and (min-width: 992px) {
  main,
    nav {
      flex-direction: column;
    }
}


